.interestsing-facts {
  background-color: var(--bg-main-grey);
  padding: 0px 10px 10px 10px;
  text-align: center;
  color: var(--color-main-black);
}

.facts-title {
  font-size: 45px;
  font-weight: 700px;
  margin: 45px 0 45px 0;
}

.facts-photo {
  width: 100%;
  height: 535px;
  object-fit: cover;
}

.facts-description-ru,
.facts-description-en,
.list-ru,
.list-en {
  font-size: 18px;
  padding: 0px 5px 0 5px;
  font-weight: 500px;
  text-align: justify;
  list-style-type: upper-roman;
  list-style-position: inside;
}

@media (max-width: 480px) {
  .facts-description-ru,
  .facts-description-en,
  .list-ru,
  .list-en {
    font-size: 14px;
  }
  .facts-title {
    font-size: 32px;
  }
}
